<html>
  <head>
    <title> Previous Scans </title>


    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>


  <body class="plain">
    <h1 class="bigheading" style="text-align: center;">Previous Scans</h1>
    
    <div class = "row">
      
      <div class="columnTwo">
        <a href="/details2"><img src="../static/lowpressure.jpg"></a>
        </br><h1 style="margin-top: 2%;">Low Pressure Warning</h1>
      </div>
      <div class="columnTwo">
        <a href="/details3"><img src="../static/meme.jpg"></a>
      </br><h1 style="margin-top: 2%;">Best Memes</h1>
      </div>
    </div>


    <div class="centerPic">
      <a href="/qr">
          <!-- Scan again -->
          <img src="../static/scan%20again.png" style="width:300px;height:300px;margin: 300px 0px 0px 0px;">
      </a>
    </br> <h1 style="margin-top: 2%;">Scan Again</h1>
    </div>
    </body>
</html>